/* color variables */
:root{
    --primary:#F15454;
    --lightPink:#F4AFAF;
    --light:#E5E5E5;
    --whiteBackground: #FFF;
    --grey:#888;
    --hover: #2d984c;
    --dark:#313154;
    --shadow:0 1px 3px rbga(0,0,0,0.1);
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}

/* reset */
input:not([type="radio"]):not([type="checkbox"]), button, textarea {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}

body {
    background: var(--background);
    color: var(--dark);
}


section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

h3 {
    color: var(--dark);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;

}

h4 {
    color: var(--grey);
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

i{
    cursor: pointer;
}
.topOption_menu {
    display: flex;
}
.backArrow{
    margin-right: auto;
}

.addTask_menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.currentMonth{
    margin-right: auto;
}

.addButton {
    border: 1px;
}

.addtask .addButton {
    height: 3rem;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: var(--primary);
}
.addButton{
    color: #FFF;
    cursor: pointer;
}
.addButton button {
    display: flex;
    padding: 0.5rem;
    border-radius: 0.25rem;
    transition: 0.2s ease-in-out;
}

.calender_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #FFF;
    border-radius: 0.5rem;
    cursor: pointer;
}

.task_list .list {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0rem;
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    cursor: pointer;
}

.todo-item {
    display: block;
    align-items: center;
    justify-content: center;
}

.todo-item label{
    display: flex;
    cursor: pointer;
}

.task_list .todo-item textarea{
    display: inline-block;
    width: 100%;
    height: 50px;
    /* padding-bottom: 1rem; */
}

textarea {
    text-align: left;
    padding: 0 15px 0 15px;
    box-sizing: border-box;
    resize: none;
    overflow: auto;
  }

.todo-item i {
    padding: 1.25rem;
    align-self: center;
    background-color: var(--primary);
    border-radius: 50%;
    color: #FFF;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
 }

.bottomOption_menu{
    display: flex;
    height: 100%;

}

.bottomOption_menu i {
    color: var(--grey);
}

.bottomOption_menu i:hover{
    opacity: 0.75;
    color: var(--hover);
}

.alerts{
    margin-right: auto;
}
.calendar{
    margin-right: auto;
}
.home{
    margin-right: auto;
}