
/*//////////////////////////////////////////
////// PEACHES CODE
//////////////////////////////////////////*/

.addButton {
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  border: none;
}

.calendar-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 1px;
}

.calender_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
}

.calendar-day {
  border: 1px solid #ddd;
  background-color: #FFF;
  box-shadow: 0 0 10px #F4AFAF;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  opacity: 0.75;
  color: var(--primary);
}

.task-container {
  max-width: 200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px #f4afaf;
  padding: 20px;
  border-radius: 10px;
}

.task-date {
  font-size: 16px;
  font-weight: bold;
  color: #bcbcbc;
}

.task-scroll {
  list-style: none;
  padding: 0;
}

.calendar-day:hover {
  background-color: #f15454; /* Change color on hover */
}

.task-item {
  cursor: pointer;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-name {
  flex-grow: 1;
}

/* ///////////////////END PEACH CODE///////////////*/


/* ////////////////OTHER CSS PROPERTIES//////////// */
/* color variables */
:root {
  --primary: #f15454;
  --lightPink: #f4afaf;

}  

#top_menu {
  display: none;
}

#bottom_menu{
display: none;
}

#top_month_addTask{
display: inline-flexbox;
}

#monthYear {
text-align: center;
}

#addTaskButton {
text-align: center;
}

#task_details_items {
font-size: x-small;
margin: 0 auto;
}

#thumbtackIcon {
color: var(--primary);
align-items: center;
justify-content: center;
padding-top: 60px;
}

#bottom_menu {
  visibility: hidden;
}