*{
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
  color: black;
  text-align: center;
  padding-top: 5px;
}

.header {
  text-align: center;
  font-size: 16px;
  margin:0;
  width: 100%;
   background-color:#F15454;
}
.event-btn{
  margin-top: 0;
  border-radius: 50px;
}
ul.weekdays{
  background-image: url(./img/background-img.png);
}

button {
  margin-top: 2em;
  width: 8%;

}

.weekdays {
  padding: 5em;
  
}

.weekdays li {
  display: inline-block;
  width: 13%;
  text-align: center;
  color:#F15454;
  text-shadow: black;
  border: 2px solid black;
  height: 1805px;
  border-radius: 25px;
  background-color: rgba(128, 128, 128, 0.65);
  font-weight: bold; 
}



.col-2 {
  float: left;
  border: 2px solid black;
  color:#F15454;
  text-shadow: black;
  width: 6%;
  border-radius: 25px;
  text-align: center;
  margin-top: 4.9em;
  margin-left: 5em;
  background-color: rgba(128, 128, 128, 0.65);
  font-weight: bold;
}

