.forms {
  visibility: hidden;
}
.container {
  width: 600px;
  height: 600px;
}

.taskColom {
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  height: 500px;
}
.formColom {
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(204, 206, 215);
  width: 220px;
  height: 500px;
}
.tasks {
  height: 100px;
  width: max-width;
  /* background-color: rgb(204, 206, 215); */
}
.task {
  height: auto;
  width: max-width;
  background-color: rgb(94, 108, 170);
}
.addForm {
  width: max-width;
  /* background-color: blueviolet; */
  visibility: hidden;
}
#tNameInput {
  width: max-width;
}

.card{
  height: auto;
}
.card-body{
  padding-left: 0px;
  padding-top: 10px;
  line-height: 0.0;
}
.card-title{
  font-size: 11px;
  font-weight: 800;
  margin-bottom: auto;
}
.card-text{
  font-size: 10px;
  font-weight: 300;
  margin-bottom: auto;
}